{% load staticfiles  i18n %}
				<!-- Agent -->
				<div class="col-lg-3 agent_col text-center">
					<div class="agent_image mx-auto">
						<img src="{% static 'img/agent_1.jpg' %}" alt="image by Andrew Robles">
					</div>
					<div class="agent_content">
						<div class="agent_name">{% trans 'michael williams' %}</div>
						<div class="agent_role">{% trans 'Real Estate Agent' %}</div>
						<div class="agent_social">
							<ul class="agent_social_list">
								<li class="agent_social_item"><a href="{% static '#"><i class="fab fa-pinterest"></i></a></li>
								<li class="agent_social_item"><a href="{% static '#"><i class="fab fa-facebook-f"></i></a></li>
								<li class="agent_social_item"><a href="{% static '#"><i class="fab fa-twitter"></i></a></li>
							</ul>
						</div>
					</div>
				</div>