{% load staticfiles  i18n %}
				<!-- Milestone -->
				<div class="col-lg-2 milestone_col">
					<div class="milestone text-center d-flex flex-column align-items-center justify-content-start">
						<div class="milestone_icon d-flex flex-column justify-content-end"><img src="{% static 'img/milestone_1.svg'  %}" alt=""></div>
						<div class="milestone_counter" data-end-value="310">0</div>
						<div class="milestone_text">{% trans 'houses sold' %}</div>
					</div>
				</div>