{% load staticfiles  i18n %}
    <!-- Archives -->
    <div class="sidebar_section">
        <div class="sidebar_title">{% trans 'archives' %}</div>
        <ul class="sidebar_list">
            <li class="sidebar_list_item"><a href="#">{% trans 'March 2017' %}</a></li>
        </ul>
    </div>