{% load staticfiles  i18n %}
<!-- Categories -->
<div class="sidebar_section">
    <div class="sidebar_title">{% trans 'categories' %}</div>
    <ul class="sidebar_list">
        <li class="sidebar_list_item"><a href="#">{% trans 'Uncategorized' %}</a></li>
    </ul>
</div>