{% load staticfiles  i18n %}
			<!-- City Item -->
            <div class="owl-item city_item">
                <a href="#">
                    <div class="city_image">
                        <img src="{% static 'img/city_1.jpg' %}" alt="">
                    </div>
                    <div class="city_details"><img src="{% static 'img/search.png' %}" alt=""></div>
                    <div class="city_name"><span>{% trans 'miami' %}</span></div>
                </a>
            </div>