{% load staticfiles  i18n %}
{% for link in menu %}
<li class="menu_item { % if request.resolver_match.url_name == link.href %} active { % endif % }">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="{{ link.href }}">{{ link.name }}</a>
            </div>
        </div>
    </div>
</li>
{% endfor %}