{% load staticfiles  i18n %}
<li class="dropdown_item dropdown_item_5">
    <div class="dropdown_item_title">{% trans 'Keywords' %}</div>
    <select name="keywords" id="keywords" class="dropdown_item_select">
        <option>{% trans 'Any' %}</option>
        <option>{% trans 'Keyword 1' %}</option>
        <option>{% trans 'Keyword 2' %}</option>
    </select>
</li>