{% load staticfiles  i18n %}
<li class="dropdown_item dropdown_item_6">
    <div class="dropdown_item_title">{% trans 'Bedrooms no' %}</div>
    <select name="bedrooms_no" id="bedrooms_no" class="dropdown_item_select">
        <option>{% trans 'Any' %}</option>
        <option>1</option>
        <option>2</option>
    </select>
</li>