<ul class="main_nav_list">
    {% for link in menu %}
        <li class="main_nav_item { % if request.resolver_match.url_name == link.href %} active
        { % endif % }" ><a  href="{{ link.href }}">{{ link.name }}</a></li>
    {% endfor %}
</ul>
