{% load staticfiles  i18n %}
<div class="sidebar_section">
    <div class="sidebar_title">{% trans 'instagram' %}</div>
    <div class="gallery_container">
        <ul class="gallery_items d-flex flex-row align-items-start justify-content-between flex-wrap">
            <li class="gallery_item">
                <a class="colorbox" href="{% static https://images.unsplash.com/photo-1503174971373-b1f69850bded?auto=format&fit=crop&w=720&q=80">
                    <img src="{% static 'img/gallery_1.jpg' %}" alt="https://unsplash.com/@alcasqui">
                </a>
            </li>
        </ul>
    </div>
</div>