{% load staticfiles  i18n %}
<div class="sidebar_section">
    <div class="sidebar_title">{% trans 'latest posts' %}</div>
    <div class="latest_posts_container">

        <!-- Latest Post -->
        <div class="latest_post">
            <div class="latest_post_image"><img src="{% static 'img/latest_1.jpg' %}" alt=""></div>
            <div class="latest_post_content">
                <div class="latest_post_title"><a href="#">{% trans 'A simple blog post' %}</a></div>
                <div class="latest_post_meta">
                    <span><a href="#">{% trans 'by Jane Smith' %}</a>{% trans ' / Aug 25, 2016' %}</span>
                </div>
            </div>
        </div>


    </div>
</div>