{% load staticfiles  i18n %}
					<!-- Listings Item -->
					{% if realty  %}
							{% for object in realty %}

					<div class="listing_item">
						<div class="listing_item_inner d-flex flex-md-row flex-column trans_300">
							<div class="listing_image_container">
								<div class="listing_image">
									<!-- Image by: https://unsplash.com/@breather -->
									<div class="listing_background" style="background-image:url({% static 'img/listing_1.jpg' %}"></div>
								</div>
								<div class="featured_card_box d-flex flex-row align-items-center trans_300">
									<img src="{% static 'img/tag.svg' %}" alt="https://www.flaticon.com/authors/lucy-g">
									<div class="featured_card_box_content">
										<div class="featured_card_price_title trans_300">{% trans 'For Sale' %}</div>
										<div class="featured_card_price trans_300">{% trans '$540,000' %}</div>
									</div>
								</div>
							</div>
							<div class="listing_content">
								<div class="listing_title"><a href="{% static 'listings_single.html' %}">{% trans 'House in West California' %}</a></div>
								<div class="listing_text">{% trans object.description %}</div>
								
								<div class="rooms">
									

									<div class="room">
										<span class="room_title">{% trans 'Bedrooms' %}</span>
										<div class="room_content">
											<div class="room_image"><img src="{% static 'img/bedroom.png' %}" alt=""></div>
											<span class="room_number">{{object.bedroom}}</span>
										</div>
									</div>

									<div class="room">
										<span class="room_title">{% trans 'Bathrooms' %}</span>
										<div class="room_content">
											<div class="room_image"><img src="{% static 'img/shower.png' %}" alt=""></div>
											<span class="room_number">{{object.hottub}}</span>
										</div>
									</div>

									<div class="room">
										<span class="room_title">{% trans 'Area' %}</span>
										<div class="room_content">
											<div class="room_image"><img src="{% static 'img/area.png' %}" alt=""></div>
											<span class="room_number">{{ object.square_meters }}</span>
										</div>
									</div>

								</div>

								<div class="room_tags">
									<span class="room_tag"><a href="#">{% trans 'Swimming Pool' %}</a></span>
									<span class="room_tag"><a href="#">{% trans 'Hottub' %}</a></span>
									<span class="room_tag"><a href="#">{% trans 'Garden' %}</a></span>
									<span class="room_tag"><a href="#">{% trans 'Patio' %}</a></span>
									<span class="room_tag"><a href="#">{% trans 'Hard Wood Floor' %}</a></span>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
	{% endif %}		