{% load staticfiles  i18n %}
<div class="news_post">
    <div class="news_post_date">{% trans 'Dec 06, 2017' %}</div>
    <div class="news_post_title"><a href="#">{% trans 'All the papers you need to own a house' %}</a></div>
    <div class="news_post_meta">
        <ul>
            <li class="news_post_meta_item">
                <div class="news_post_meta_icon">
                    <img src="{% static 'img/profile.svg' %}" alt="https://www.flaticon.com/authors/lucy-g">
                </div>
                <span><a href="#">{% trans 'By Lore Papp' %}</a></span>
            </li>
            <li class="news_post_meta_item">
                <div class="news_post_meta_icon">
                    <img src="{% static 'img/favorite.svg' %}" alt="https://www.flaticon.com/authors/lucy-g">
                </div>
                <span><a href="{% static ''">{% trans 'in Uncategorized' %}</a></span>
            </li>
            <li class="news_post_meta_item">
                <div class="news_post_meta_icon">
                    <img src="{% static 'img/speech-bubble.svg' %}" alt="https://www.flaticon.com/authors/lucy-g">
                </div>
                <span><a href=" #">{% trans '3 Comments' %}</a></span>
            </li>
        </ul>
    </div>
    <div class="news_post_image">
        <img src="{% static 'img/news_2.jpg' %}" alt="https://unsplash.com/@brianbabb">
    </div>
    <div class="news_post_text">
        <p>Donec ullamcorper nulla non metus auctor fringi lla.Curabitur blandit tempus porttitor. Proin quis bibendum mi. Donec luctus vestibulum sapien, sit amet vehicula enim aliquam at. Suspendisse non urna bibendum, dictum quam sit amet, aliquet nisi. In dapibus aliquet porttitor. Pellentesque at malesuada ante. </p>
    </div>
    <div class="button news_post_button"><a href="#">{% trans 'read more' %}</a></div>
</div>