{% load staticfiles  i18n %}
<li class="search_features_item">
    <div>
        <input type="checkbox" id="search_features_1" class="search_features_cb">
        <label for="search_features_1">{% trans 'Feature 1' %}</label>
    </div>	
</li>