				<div class="col-lg-4 featured_card_col">

					<div class="featured_card_container">
						<div class="card featured_card trans_300">
							<div class="featured_panel">{% trans 'featured' %}</div>
							<img class="card-img-top" src="{% static 'img/featured_1.jpg' %}" alt="https://unsplash.com/@breather">
							<div class="card-body">
								<div class="card-title"><a href="listings_single.html">{% trans 'House in West California' %}</a></div>
								<div class="card-text">{% trans 'Donec ullamcorper nulla non metus auctor fringi lla. Curabitur blandit tempus porttitor.' %}</div>
								<div class="rooms">

									<div class="room">
										<span class="room_title">{% trans 'Bedrooms' %}</span>
										<div class="room_content">
											<div class="room_image"><img src="{% static 'img/bedroom.png' %}" alt=""></div>
											<span class="room_number">4</span>
										</div>
									</div>

									<div class="room">
										<span class="room_title">{% trans 'Bathrooms' %}</span>
										<div class="room_content">
											<div class="room_image"><img src="{% static 'img/shower.png' %}" alt=""></div>
											<span class="room_number">3</span>
										</div>
									</div>

									<div class="room">
										<span class="room_title">{% trans 'Area' %}</span>
										<div class="room_content">
											<div class="room_image"><img src="{% static 'img/area.png' %}" alt=""></div>
											<span class="room_number">{% trans '7100 Sq Ft' %}</span>
										</div>
									</div>

									<div class="room">
										<span class="room_title">{% trans 'Patio' %}</span>
										<div class="room_content">
											<div class="room_image"><img src="{% static 'img/patio.png' %}" alt=""></div>
											<span class="room_number">1</span>
										</div>
									</div>

									<div class="room">
										<span class="room_title">{% trans 'Garage' %}</span>
										<div class="room_content">
											<div class="room_image"><img src="{% static 'img/garage.png' %}" alt=""></div>
											<span class="room_number">2</span>
										</div>
									</div>

								</div>

								<div class="room_tags">
									<span class="room_tag"><a href="#">{% trans 'Hottub' %}</a></span>
									<span class="room_tag"><a href="#">{% trans 'Swimming Pool' %}</a></span>
									<span class="room_tag"><a href="#">{% trans 'Garden' %}</a></span>
									<span class="room_tag"><a href="#">{% trans 'Patio' %}</a></span>
									<span class="room_tag"><a href="#">{% trans 'Hard Wood Floor' %}</a></span>
								</div>

							</div>
						</div>

						<div class="featured_card_box d-flex flex-row align-items-center trans_300">
							<img src="{% static 'img/tag.svg' %}" alt="https://www.flaticon.com/authors/lucy-g">
							<div class="featured_card_box_content">
								<div class="featured_card_price_title">{% trans 'For Sale' %}</div>
								<div class="featured_card_price">{% trans '$540,000' %}</div>
							</div>
						</div>

					</div>

				</div>