{% load staticfiles  i18n %}
 				<!-- Home Slider Item -->
                 <div class="owl-item home_slider_item">
					<!-- Image by https://unsplash.com/@aahubs -->
					<div class="home_slider_background" style="background-image:url({% static 'img/home_slider_bcg.jpg' %})"></div>
					<div class="home_slider_content_container text-center">
						<div class="home_slider_content">
							<h1 data-animation-in="flipInX" data-animation-out="animate-out fadeOut">{% trans 'find your home' %}</h1>
						</div>
					</div>
				</div>