{% load staticfiles  i18n %}
							<!-- Testimonials Item -->
							<div class="owl-item">
								<div class="testimonials_item text-center">
									<p class="testimonials_text">{% trans 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae neque libero. Vivamus vel interdum massa. Mauris ut felis vel diam pretium eleifend vel eu neque. Mauris a condimentum tortor. Cras nec molestie est. Nulla vel facilisis metus. Quisque tempus fermentum enim, in feugiat sem laoreet' %}</p>
									<div class="testimonial_user">
										<div class="testimonial_image mx-auto">
											<img src="{% static 'img/person.jpg' %}" alt="https://unsplash.com/@remdesigns">
										</div>
										<div class="testimonial_name">{% trans 'natalie smith' %}</div>
										<div class="testimonial_title">{% trans 'Client in California' %}</div>
									</div>
								</div>
							</div>