{% load staticfiles  i18n %}
			<!-- Workflow Item -->
            <div class="col-lg-4 workflow_col">
                <div class="workflow_item">
                    <div class="workflow_image_container d-flex flex-column align-items-center justify-content-center">
                        <div class="workflow_image_background">
                            <div class="workflow_circle_outer trans_200"></div>
                            <div class="workflow_circle_inner trans_200"></div>
                            <div class="workflow_num text-center trans_200"><span>{% trans '01.' %}</span></div>
                        </div>
                        <div class="workflow_image">
                            <img src="{% static 'img/workflow_1.png' %}" alt="">
                        </div>
                        
                    </div>
                    <div class="workflow_item_content text-center">
                        <div class="workflow_title">{% trans 'Choose a Location' %}</div>
                        <p class="workflow_text">{% trans 'Donec ullamcorper nulla non metus auctor fringi lla. Curabitur blandit tempus porttitor.' %}</p>
                    </div>
                </div>
            </div>