{% extends 'mainapp/base_template.html' %}
{% load staticfiles i18n %}

{% block css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/about_styles.css'  %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/about_responsive.css'  %}">
{% endblock %}

{% block content %}
	

	<!-- Intro -->

	<div class="intro">
		<div class="container">
			<div class="row">
				<div class="col-lg-7 order-lg-1 order-2">
					<h2 class="intro_title">{% trans 'The Estate Promise' %}</h2>
					<div class="intro_subtitle">{% trans 'Sed vestibulum lectus ut leo molestie, id suscipit magna' %}</div>
					<p class="intro_text">{% trans 'Donec ullamcorper nulla non metus auctor fringi lla. Curabitur blandit tempus porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tellus eros, placerat quis fermentum et, viverra sit amet lacus. Nam gravida semper augue id sagittis. Cras nec arcu quis velit tempor porttitor sit amet vel risus. Sed vestibulum lectus ut leo molestie, id suscipit magna mattis. Vivamus nisl ligula, varius congue dui sit amet, vestibulum sollicitudin mauris. Vestibulum quis ligula in nunc varius maximus ac et nunc. Nulla sed magna turpis.' %}</p>
					<div class="button intro_button trans_200"><a class="trans_200" href="#">{% trans 'read more' %}</a></div>
				</div>
				<div class="col-lg-5 order-lg-2 order-1">
					<div class="intro_image">
						<img src="{% static 'img/intro.png'  %}" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Milestones -->

	<div class="milestones">
		<div class="milestones_background parallax-window" data-parallax="scroll" data-image-src="{% static 'img/milestones.jpg' %}"></div>
		<div class="container">
			<div class="row">
				{% include "mainapp/includes/about_milestone.html" %}
			</div>
		</div>
	</div>

	<!-- Agents -->

	<div class="agents">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h3>{% trans 'out agents' %}</h3>
						<span class="section_subtitle">{% trans 'The best out there' %}</span>
					</div>
				</div>
			</div>

			<div class="row agents_row">
				
				{% include "mainapp/includes/about_agent.html" %}	
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="agents_more">
						<div class="button agents_more_button trans_200"><a class="trans_200" href="#">{% trans 'read more' %}</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->

	{% endblock %}
	<!-- Footer -->

	{% block credits %}
	<!-- Credits -->



</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'css/bootstrap4/popper.js' %}"></script>
<script src="{% static 'css/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/scrollTo/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'js/about_custom.js' %}"></script>
{% endblock %}