{% extends 'mainapp/base_template.html' %}
{% load staticfiles i18n %}

{% block css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">

{% endblock %}

	{% block menu %}
	<!-- Home -->
	<div class="home">
		
		<!-- Home Slider -->
		<div class="home_slider_container">
			<div class="owl-carousel owl-theme home_slider">
				{% include "mainapp/includes/slider_item.html" %}
			</div>
			
			<!-- Home Slider Nav -->
			<div class="home_slider_nav_left home_slider_nav d-flex flex-row align-items-center justify-content-end">
				<img src="{% static 'img/nav_left.png' %}" alt="">
			</div>

		</div>

	</div>

	<!-- Header -->

	<header class="header trans_300">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_container d-flex flex-row align-items-center trans_300">

						<!-- Logo -->

						<div class="logo_container">
							<a href="#">
								<div class="logo">
									<img src="{% static 'img/logo.png' %}" alt="">
									<span>{% trans 'the estate' %}</span>
								</div>
							</a>
						</div>
						
						<!-- Main Navigation2 -->

						<nav class="main_nav">
								{% include "mainapp/includes/inc-menu.html" %}
						</nav>
						
						<!-- Phone Home -->

						<div class="phone_home text-center">
							<span>{% trans '+0080 234 567 84441' %}</span>
						</div>
						
						<!-- Hamburger -->

						<div class="hamburger_container menu_mm">
							<div class="hamburger menu_mm">
								<i class="fas fa-bars trans_200 menu_mm"></i>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- Menu -->

		<div class="menu menu_mm">
			<ul class="menu_list">
				{% include "mainapp/includes/drop_menu.html" %}	
			</ul>
		</div>

	</header>
	{% endblock %} 
	<!-- Search Box -->
	{% block content %}
	<div class="search_box">
		<div class="container">
			<div class="row">
				<div class="col">

					<div class="search_box_outer">
						<div class="search_box_inner">

							<!-- Search Box Title -->
							<div class="search_box_title text-center">
								<div class="search_box_title_inner">
									<div class="search_box_title_icon d-flex flex-column align-items-center justify-content-center"><img src="{% static 'img/search.png' %}" alt=""></div>
									<span>{% trans 'search your home' %}</span>
								</div>
							</div>

							<!-- Search Arrow -->
							<div class="search_arrow_box">
								<div class="search_arrow_box_inner">
									<div class="search_arrow_circle d-flex flex-column align-items-center justify-content-center"><span>{% trans 'Search it here' %}</span></div>
									<img src="{% static 'img/search_arrow.png' %}" alt="">
								</div>
							</div>

							<!-- Search Form -->
							<form class="search_form" action="#">
								<div class="search_box_container">
									<ul class="dropdown_row clearfix">
										{% include "mainapp/includes/dropdown_item5.html" %}	
									</ul>
								</div>

								<div class="search_box_container">
									<ul class="dropdown_row clearfix">
										{% include "mainapp/includes/dropdown_item6.html" %}	

										<li class="dropdown_item">
											<div class="search_button">
												<input value="search" type="submit" class="search_submit_button">
											</div>
										</li>
									</ul>
								</div>

								<div class="search_features_container">
									<div class="search_features_trigger">
										<a href="#">{% trans 'Specific features' %}</a>
									</div>
									<ul class="search_features clearfix">
										{% include "mainapp/includes/search_feature_item.html" %}	
										
									</ul>
								</div>

							</form>
						</div>
					</div>

				</div>
			</div>
		</div>		
	</div>

	<!-- Featured Properties -->

	<div class="featured">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h3>{% trans 'featured properties' %}</h3>
						<span class="section_subtitle">{% trans 'See our best offers' %}</span>
					</div>
				</div>
			</div>

			<div class="row featured_row">
				{% include "mainapp/includes/featured_card.html" %}


			</div>
		</div>
	</div>

	<!-- Testimonials -->

	<div class="testimonials">
		<div class="testimonials_background_container prlx_parent">
			<div class="testimonials_background prlx" style="background-image:url({% static 'img/testimonials_background.jpg' %})"></div>
		</div>
		<div class="container">

			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h3>{% trans 'clients testimonials' %}</h3>
						<span class="section_subtitle">{% trans 'See our best offers' %}</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					
					<div class="testimonials_slider_container">

						<!-- Testimonials Slider -->
						<div class="owl-carousel owl-theme testimonials_slider">
							
							{% include "mainapp/includes/testimonial_item.html" %}

						</div>

					</div>
				</div>
			</div>

		</div>
	</div>

	<!-- Workflow -->

	<div class="workflow">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h3>{% trans 'see how we operate' %}</h3>
						<span class="section_subtitle">{% trans 'What you need to do' %}</span>
					</div>
				</div>
			</div>

			<div class="row workflow_row">
				<div class="workflow_rocket"><img src="{% static 'img/rocket.png' %}" alt=""></div>
				{% include "mainapp/includes/workflow_item.html" %}
			</div>
		</div>
	</div>

	<!-- Cities -->

	<div class="cities">
		<div class="cities_background"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title text-center">
						<h3>{% trans 'cities clients prefer' %}</h3>
						<span class="section_subtitle">{% trans 'What you need to do' %}</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col">

					<!-- Cities Slider -->
		
					<div class="cities_slider_container">
						<div class="owl-carousel owl-theme cities_slider">
							{% include "mainapp/includes/city_item.html" %}
		
						</div>
						
						<div class="cities_prev cities_nav d-flex flex-row align-items-center justify-content-center trans_200">
							<img src="{% static 'img/nav_left.png' %}" alt="">
						</div>

						<div class="cities_next cities_nav d-flex flex-row align-items-center justify-content-center trans_200">
							<img src="{% static 'img/nav_right.png' %}" alt="">
						</div>

					</div>

				</div>
					
			</div>

		</div>
	</div>

	<!-- Call to Action -->

	<div class="cta_1">
		<div class="cta_1_background" style="background-image:url({% static 'img/cta_1.jpg' %})"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					
					<div class="cta_1_content d-flex flex-lg-row flex-column align-items-center justify-content-start">
						<h3 class="cta_1_text text-lg-left text-center">Do you want to talk with one of our <span>{% trans 'real estate experts?' %}</span></h3>
						<div class="cta_1_phone">{% trans 'Call now:   +0080 234 567 84441' %}</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->

	{% endblock %}
	<!-- Footer -->

	<!-- Credits -->
	{% block credits %}
	{{block.super}}


</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'css/bootstrap4/popper.js' %}"></script>
<script src="{% static 'css/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TweenMax.min.js' %}"></script>
<script src="{% static 'plugins/greensock/TimelineMax.min.js' %}"></script>
<script src="{% static 'plugins/scrollmagic/ScrollMagic.min.js' %}"></script>
<script src="{% static 'plugins/greensock/animation.gsap.min.js' %}"></script>
<script src="{% static 'plugins/greensock/ScrollToPlugin.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/scrollTo/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
{% endblock %}