{% extends 'mainapp/base_template.html' %}
{% load staticfiles  i18n %}
{% block css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" src="{% static 'plugins/OwlCarousel2-2.2.1/owl.theme.default.css' %}">
<link rel="stylesheet" type="text/css" src="{% static 'plugins/OwlCarousel2-2.2.1/animate.css' %}">
<link rel="stylesheet" type="text/css" src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.css' %}">
<link href="{% static 'plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'css/listings_single_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/listings_single_responsive.css' %}">
{% endblock %}

{% block content %}

	<!-- Listing -->

	<div class="listing">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					
					<!-- Listing Title -->
					<div class="listing_title_container">
						<div class="listing_title">{% trans 'House in west California' %}</div>
						<p class="listing_text">{% trans 'Donec ullamcorper nulla non metus auctor fringi lla.Curabitur blandit tempus porttitor.' %}</p>
						<div class="room_tags">
							<span class="room_tag"><a href="#">{% trans 'Hottub' %}</a></span>
							<span class="room_tag"><a href="#">{% trans 'Swimming Pool' %}</a></span>
							<span class="room_tag"><a href="#">{% trans 'Garden' %}</a></span>
							<span class="room_tag"><a href="#">{% trans 'Patio' %}</a></span>
							<span class="room_tag"><a href="#">{% trans 'Hard Wood Floor' %}</a></span>
						</div>
					</div>
				</div>
				
				<!-- Listing Price -->
				<div class="col-lg-4 listing_price_col clearfix">
					<div class="featured_card_box d-flex flex-row align-items-center trans_300 float-lg-right">
						<img src="{% static 'img/tag.svg' %}" alt="https://www.flaticon.com/authors/lucy-g">
						<div class="featured_card_box_content">
							<div class="featured_card_price_title trans_300">{% trans 'For Sale' %}</div>
							<div class="featured_card_price trans_300">{% trans '$540,000' %}</div>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
					<div class="col">
						
						<!-- Listing Image Slider -->
	
						<div class="listing_slider_container">
							<div class="owl-carousel owl-theme listing_slider">
								
								<!-- Listing Slider Item -->
								<div class="owl-item listing_slider_item">
									<img src="{% static 'img/listing_slider_1.jpg' %}" alt="https://unsplash.com/@astute">
								</div>
	
								<!-- Listing Slider Item -->
								<div class="owl-item listing_slider_item">
									<img src="{% static 'img/listing_slider_1.jpg' %}" alt="https://unsplash.com/@astute">
								</div>
	
								<!-- Listing Slider Item -->
								<div class="owl-item listing_slider_item">
									<img src="{% static 'img/listing_slider_1.jpg' %}" alt="https://unsplash.com/@astute">
								</div>
	
								<!-- Listing Slider Item -->
								<div class="owl-item listing_slider_item">
									<img src="{% static 'img/listing_slider_1.jpg' %}" alt="https://unsplash.com/@astute">
								</div>
	
								<!-- Listing Slider Item -->
								<div class="owl-item listing_slider_item">
									<img src="{% static 'img/listing_slider_1.jpg' %}" alt="https://unsplash.com/@astute">
								</div>
								
							</div>
	
							<div class="listing_slider_nav listing_slider_prev d-flex flex-row align-items-center justify-content-center trans_200">
								<img src="{% static 'img/nav_left.png' %}" alt="">
							</div>
	
							<div class="listing_slider_nav listing_slider_next d-flex flex-row align-items-center justify-content-center trans_200">
								<img src="{% static 'img/nav_right.png' %}" alt="">
							</div>
	
						</div>
	
					</div>
				</div>
					

			<div class="row listing_content_row">
				
				<!-- Search Sidebar -->

				<div class="col-lg-4 sidebar_col">
					<!-- Search Box -->

					<div class="search_box">

						<div class="search_box_content">

							<!-- Search Box Title -->
							<div class="search_box_title text-center">
								<div class="search_box_title_inner">
									<div class="search_box_title_icon d-flex flex-column align-items-center justify-content-center"><img src="{% static 'img/search.png' %}" alt=""></div>
									<span>{% trans 'search your home' %}</span>
								</div>
							</div>

							<!-- Search Form -->
							<form class="search_form" action="#">
								<div class="search_box_container">
									<ul class="dropdown_row clearfix">
										<li class="dropdown_item">
											<div class="dropdown_item_title">{% trans 'Keywords' %}</div>
											<select name="keywords" id="keywords" class="dropdown_item_select">
												<option>{% trans 'Any' %}</option>
												<option>{% trans 'Keyword 1' %}</option>
												<option>{% trans 'Keyword 2' %}</option>
											</select>
										</li>
										<li class="dropdown_item">
											<div class="dropdown_item_title">{% trans 'Property ID' %}</div>
											<select name="property_ID" id="property_ID" class="dropdown_item_select">
												<option>{% trans 'Any' %}</option>
												<option>{% trans 'ID 1' %}</option>
												<option>{% trans 'ID 2' %}</option>
											</select>
										</li>
										<li class="dropdown_item">
											<div class="dropdown_item_title">{% trans 'Property Status' %}</div>
											<select name="property_status" id="property_status" class="dropdown_item_select">
												<option>{% trans 'Any' %}</option>
												<option>{% trans 'Status 1' %}</option>
												<option>{% trans 'Status 2' %}</option>
											</select>
										</li>
										<li class="dropdown_item">
											<div class="dropdown_item_title">{% trans 'Location' %}</div>
											<select name="property_location" id="property_location" class="dropdown_item_select">
												<option>{% trans 'Any' %}</option>
												<option>{% trans 'Location 1' %}</option>
												<option>{% trans 'Location 2' %}</option>
											</select>
										</li>
										<li class="dropdown_item">
											<div class="dropdown_item_title">{% trans 'Property Type' %}</div>
											<select name="property_type" id="property_type" class="dropdown_item_select">
												<option>{% trans 'Any' %}</option>
												<option>{% trans 'Type 1' %}</option>
												<option>{% trans 'Type 2' %}</option>
											</select>
										</li>
										<li class="dropdown_item dropdown_item_half">
											<div class="dropdown_item_title">{% trans 'Bedrooms no' %}</div>
											<select name="bedrooms_no" id="bedrooms_no" class="dropdown_item_select">
												<option>{% trans 'Any' %}</option>
												<option>1</option>
												<option>2</option>
											</select>
										</li>
										<li class="dropdown_item dropdown_item_half">
											<div class="dropdown_item_title">{% trans 'Bathrooms no' %}</div>
											<select name="bathrooms_no" id="bathrooms_no" class="dropdown_item_select">
												<option>{% trans 'Any' %}</option>
												<option>1</option>
												<option>2</option>
											</select>
										</li>
										<li class="dropdown_item dropdown_item_half">
											<div class="dropdown_item_title">{% trans 'Min Price' %}</div>
											<select name="min_price" id="min_price" class="dropdown_item_select">
												<option>{% trans 'Any' %}</option>
												<option>{% trans '$10000' %}</option>
												<option>{% trans '$20000' %}</option>
											</select>
										</li>
										<li class="dropdown_item dropdown_item_half">
											<div class="dropdown_item_title">{% trans 'Max Price' %}</div>
											<select name="max_price" id="max_price" class="dropdown_item_select">
												<option>{% trans 'Any' %}</option>
												<option>{% trans '$1000000' %}</option>
												<option>{% trans '$2000000' %}</option>
											</select>
										</li>
										<li class="dropdown_item dropdown_item_half">
											<div class="dropdown_item_title">{% trans 'Min Sq Ft' %}</div>
											<select name="min_sq_ft" id="min_sq_ft" class="dropdown_item_select">
												<option>{% trans 'Any' %}</option>
												<option>{% trans 'Any' %}</option>
												<option>{% trans 'Any' %}</option>
											</select>
										</li>
										<li class="dropdown_item dropdown_item_half">
											<div class="dropdown_item_title">{% trans 'Max Sq Ft' %}</div>
											<select name="max_sq_ft" id="max_sq_ft" class="dropdown_item_select">
												<option>{% trans 'Any' %}</option>
												<option>{% trans 'Any' %}</option>
												<option>{% trans 'Any' %}</option>
											</select>
										</li>
									</ul>
								</div>

								<div class="search_features_container">
									<div class="search_features_trigger">
										<a href="#">{% trans 'Specific features' %}</a>
									</div>
									<ul class="search_features clearfix">
										<li class="search_features_item">
											<div>
												<input type="checkbox" id="search_features_1" class="search_features_cb">
												<label for="search_features_1">{% trans 'Feature 1' %}</label>
											</div>	
										</li>
										<li class="search_features_item">
											<div>
												<input type="checkbox" id="search_features_2" class="search_features_cb">
												<label for="search_features_2">{% trans 'Feature 2' %}</label>
											</div>
										</li>
										<li class="search_features_item">
											<div>
												<input type="checkbox" id="search_features_3" class="search_features_cb">
												<label for="search_features_3">{% trans 'Feature 3' %}</label>
											</div>
										</li>
										<li class="search_features_item">
											<div>
												<input type="checkbox" id="search_features_4" class="search_features_cb">
												<label for="search_features_4">{% trans 'Feature 4' %}</label>
											</div>
										</li>
										<li class="search_features_item">
											<div>
												<input type="checkbox" id="search_features_5" class="search_features_cb">
												<label for="search_features_5">{% trans 'Feature 5' %}</label>
											</div>
										</li>
										<li class="search_features_item">
											<div>
												<input type="checkbox" id="search_features_6" class="search_features_cb">
												<label for="search_features_6">{% trans 'Feature 6' %}</label>
											</div>
										</li>
										<li class="search_features_item">
											<div>
												<input type="checkbox" id="search_features_7" class="search_features_cb">
												<label for="search_features_7">{% trans 'Feature 7' %}</label>
											</div>
										</li>
										<li class="search_features_item">
											<div>
												<input type="checkbox" id="search_features_8" class="search_features_cb">
												<label for="search_features_8">{% trans 'Feature 8' %}</label>
											</div>
										</li>
										<li class="search_features_item">
											<div>
												<input type="checkbox" id="search_features_9" class="search_features_cb">
												<label for="search_features_9">{% trans 'Feature 9' %}</label>
											</div>
										</li>
										<li class="search_features_item">
											<div>
												<input type="checkbox" id="search_features_10" class="search_features_cb">
												<label for="search_features_10">{% trans 'Feature 10' %}</label>
											</div>
										</li>
									</ul>

									<div class="search_button">
										<input value="search" type="submit" class="search_submit_button">
									</div>
								</div>
							</form>
						</div>	
					</div>

					<div class="hello">
						<div class="footer_col_title">{% trans 'say hello' %}</div>
						<div class="footer_contact_form_container">
							<form id="hello_contact_form" class="footer_contact_form" action="post">
								<input id="hello_contact_form_name" class="input_field contact_form_name" type="text" placeholder="Name" required="required" data-error="Name is required.">
								<input id="hello_contact_form_email" class="input_field contact_form_email" type="email" placeholder="E-mail" required="required" data-error="Valid email is required.">
								<textarea id="hello_contact_form_message" class="text_field contact_form_message" name="message" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
								<button id="hello_contact_send_btn" type="submit" class="contact_send_btn trans_200" value="Submit">{% trans 'send' %}</button>
							</form>
						</div>
					</div>
				</div>

				<!-- Listing -->

				<div class="col-lg-8 listing_col">

					<div class="listing_details">
						<div class="listing_subtitle">{% trans 'Extra Facilities' %}</div>
						<p class="listing_details_text">{% trans 'Donec ullamcorper nulla non metus auctor fringi lla. Curabitur blandit tempus porttitor.' %}</p>
						<div class="rooms">

							<div class="room">
								<span class="room_title">{% trans 'Bedrooms' %}</span>
								<div class="room_content">
									<div class="room_image"><img src="{% static 'img/bedroom.png' %}" alt=""></div>
									<span class="room_number">4</span>
								</div>
							</div>

							<div class="room">
								<span class="room_title">{% trans 'Bathrooms' %}</span>
								<div class="room_content">
									<div class="room_image"><img src="{% static 'img/shower.png' %}" alt=""></div>
									<span class="room_number">3</span>
								</div>
							</div>

							<div class="room">
								<span class="room_title">{% trans 'Area' %}</span>
								<div class="room_content">
									<div class="room_image"><img src="{% static 'img/area.png' %}" alt=""></div>
									<span class="room_number">{% trans '7100 Sq Ft' %}</span>
								</div>
							</div>

							<div class="room">
								<span class="room_title">{% trans 'Patio' %}</span>
								<div class="room_content">
									<div class="room_image"><img src="{% static 'img/patio.png' %}" alt=""></div>
									<span class="room_number">1</span>
								</div>
							</div>

							<div class="room">
								<span class="room_title">{% trans 'Garage' %}</span>
								<div class="room_content">
									<div class="room_image"><img src="{% static 'img/garage.png' %}" alt=""></div>
									<span class="room_number">2</span>
								</div>
							</div>

						</div>
						
					</div>
					
					<!-- Listing Description -->
					<div class="listing_description">
						<div class="listing_subtitle">{% trans 'Description' %}</div>
						<p class="listing_description_text">{% trans 'Donec ullamcorper nulla non metus auctor fringi lla. Curabitur blandit tempus porttitor.Sed lectus urna, ultricies sit amet risus eget, euismod imperdiet augue. Duis imperdiet, purus a pellentesque sodales, sapien mauris rhoncus eros, ac blandit elit leo ac diam. Sed lectus urna, ultricies sit amet risus eget, euismod imperdiet augue. Duis imperdiet, purus a pellentesque sodales, sapien mauris rhoncus eros, ac blandit elit leo ac diam' %}</p>
					</div>
					
					<!-- Listing Additional Details -->
					<div class="listing_additional_details">
						<div class="listing_subtitle">{% trans 'Additional Details' %}</div>
						<ul class="additional_details_list">
							<li class="additional_detail"><span>{% trans 'bedroom features:' %}</span>{% trans ' Main Floor Master Bedroom, Walk-In Closet' %}</li>
							<li class="additional_detail"><span>{% trans 'dining area:' %}</span>{% trans ' Breakfast Counter/Bar, Living/Dining Combo' %}</li>
							<li class="additional_detail"><span>{% trans 'doors & windows:' %}</span>{% trans ' Bay Window' %}</li>
							<li class="additional_detail"><span>{% trans 'entry location:' %}</span>{% trans ' Mid Level' %}</li>
							<li class="additional_detail"><span>{% trans 'floors:' %}</span>{% trans ' Raised Foundation, Vinyl Tile, Wall-to-Wall Carpet, Wood' %}</li>
						</ul>
					</div>
					
					<!-- Listing Video -->
					<div class="listing_video">
						<div class="listing_subtitle">{% trans 'Property Video' %}</div>
						<div class="listing_video_link">
							<a class="video" href="https://vimeo.com/99340873" title=""><img src="{% static 'img/listing_video.jpg' %}" alt="https://www.pexels.com/u/binyaminmellish/"></a>
							<div class="video_play"><img src="{% static 'img/play.svg' %}" alt=""></div>
						</div>
					</div>

					<!-- Listing Map -->
					<div class="listing_map">
						<div class="listing_subtitle">{% trans 'Property on map' %}</div>
						<div id="google_map">
							<div class="map_container">
								<div id="map"></div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
	{% endblock %}
	<!-- Newsletter -->


	{% block credits %}
<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'css/bootstrap4/popper.js' %}"></script>
<script src="{% static 'css/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
<script src="{% static 'js/listings_single_custom.js' %}"></script>
{% endblock %}