{% extends 'mainapp/base_template.html' %}
{% load staticfiles  i18n %}

{% block css %}
{{block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/listings_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/listings_responsive.css' %}">
{% endblock %}

{% block content %}

	<!-- Listings -->

	<div class="listings">
		<div class="container">
			<div class="row">
				
				<!-- Search Sidebar -->

				<div class="col-lg-4 sidebar_col">
					<!-- Search Box -->

					<div class="search_box">

						<div class="search_box_content">

							<!-- Search Box Title -->
							<div class="search_box_title text-center">
								<div class="search_box_title_inner">
									<div class="search_box_title_icon d-flex flex-column align-items-center justify-content-center"><img src="{% static 'img/search.png' %}" alt=""></div>
									<span>{% trans 'search your home' %}</span>
								</div>
							</div>

							<!-- Search Form -->
							<form class="search_form" action="#">
								<div class="search_box_container">
									<ul class="dropdown_row clearfix">

									</ul>
								</div>

								<div class="search_features_container">
									<div class="search_features_trigger">
										<a href="#">{% trans 'Specific features' %}</a>
									</div>
									<ul class="search_features clearfix">
										<li class="search_features_item">
											<div>
												<input type="checkbox" id="search_features_1" class="search_features_cb">
												<label for="search_features_1">{% trans 'Feature 1' %}</label>
											</div>	
										</li>
									</ul>

									<div class="search_button">
										<input value="search" type="submit" class="search_submit_button">
									</div>
								</div>
							</form>
						</div>	
					</div>
				</div>

				<!-- Listings -->

				<div class="col-lg-8 listings_col">
					{% include "mainapp/includes/listings_item.html" %}
				</div>

			</div>

			<div class="row">
				<div class="col clearfix">
					<div class="listings_nav">
						<ul>
							<li class="listings_nav_item active"><a href="#">{% trans '01.' %}</a></li>
							<li class="listings_nav_item"><a href="#">{% trans '02.' %}</a></li>
							<li class="listings_nav_item"><a href="#">{% trans '03.' %}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Newsletter -->

{% endblock %}

	<!-- Credits -->
	{% block credits %}


</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'css/bootstrap4/popper.js' %}"></script>
<script src="{% static 'css/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'js/listings_custom.js' %}"></script>
{% endblock %}