{% extends 'mainapp/base_template.html' %}
{% load staticfiles  i18n %}

{% block css %}
{{block.super}}
<link href="{% static 'plugins/colorbox/colorbox.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'css/news_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/news_responsive.css' %}">
{% endblock %}

{% block content %}
	<!-- News -->

	<div class="news">
		<div class="container">
			<div class="row">

				<div class="col-lg-8 news_content_col">
					
					<!-- News Post -->
					{% include "mainapp/includes/news_post.html" %}
				</div>
				<div class="col-lg-4 news_sidebar_col">
					<div class="news_sidebar">
						<div class="sidebar_search">
							<form action="post">
								<div id="search_form" class="search_form">
									<input id="news_search" class="news_search" type="search" placeholder="Search" required="required" data-error="Valid keywords required.">
									<button id="search_submit_btn" type="submit" class="search_submit_btn trans_300" value="Submit">
										<img src="{% static 'img/search.png' %}" alt="">
									</button>
								</div>
							</form>
						</div>
						<!-- Archives -->
						{% include "mainapp/includes/archives_mod.html" %}

						<!-- Categories -->
						{% include "mainapp/includes/categories_mod.html" %}
						
						<!-- Latest Posts -->
						{% include "mainapp/includes/latest_mod.html" %}

						
						<!-- Instagram -->
						{% include "mainapp/includes/instagram_mod.html" %}

						<!-- Hello -->

						<div class="sidebar_section">
							<div class="hello">
								<div class="footer_col_title">{% trans 'say hello' %}</div>
								<div class="footer_contact_form_container">
									<form id="hello_contact_form" class="footer_contact_form" action="post">
										<input id="hello_contact_form_name" class="input_field contact_form_name" type="text" placeholder="Name" required="required" data-error="Name is required.">
										<input id="hello_contact_form_email" class="input_field contact_form_email" type="email" placeholder="E-mail" required="required" data-error="Valid email is required.">
										<textarea id="hello_contact_form_message" class="text_field contact_form_message" name="message" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
										<button id="hello_contact_send_btn" type="submit" class="contact_send_btn trans_200" value="Submit">{% trans 'send' %}</button>
									</form>
								</div>
							</div>
						</div>
						
					</div>
				</div>

			</div>
		</div>
	</div>


	{% endblock %}
	<!-- Footer -->


	<!-- Credits -->
{% block credits %}


</div>

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'css/bootstrap4/popper.js' %}"></script>
<script src="{% static 'css/bootstrap4/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/colorbox/jquery.colorbox-min.js' %}"></script>
<script src="{% static 'js/news_custom.js' %}"></script>
{% endblock %}