<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {{ caption|title }}
        {% endblock %}
    </title>
    {% block css %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="The Estate Teplate">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap4/bootstrap.min.css' %}">
    <link href="{% static 'fonts/fontawesome-free-5.0.1/css/fontawesome-all.css' %}" rel="stylesheet" type="text/css">

    {% endblock %}
    
    {% block js %}
    {% endblock %}  
</head>
<body>
    <div class="super_container">
    {% block menu %}
	<!-- Home -->
	<div class="home">
            <!-- Image by: https://unsplash.com/@jbriscoe -->
            <div class="home_background" style="background-image:url({% static 'img/listings.jpg' %})"></div>
            
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="home_title">
                                <h2>{% trans 'listings' %}</h2>
                            </div>
                            <div class="breadcrumbs">
                                <span><a href="index.html">{% trans 'Home' %}</a></span>
                                <span><a href="#">{% trans ' Search' %}</a></span>
                                <span><a href="#">{% trans ' Listings' %}</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Header -->
    
        <header class="header trans_300">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="header_container d-flex flex-row align-items-center trans_300">
    
                            <!-- Logo -->
    
                            <div class="logo_container">
                                <a href="#">
                                    <div class="logo">
                                        <img src="{% static 'img/logo.png' %}" alt="">
                                        <span>{% trans 'the estate' %}</span>
                                    </div>
                                </a>
                            </div>
                            
                            <!-- Main Navigation 1 -->
                            
                            <nav class="main_nav">
                                {% include "mainapp/includes/inc-menu.html" %}
                            </nav>

                            <!-- Phone Home -->
    
                            <div class="phone_home text-center">
                                <span>{% trans '+0080 234 567 84441' %}</span>
                            </div>
                            
                            <!-- Hamburger -->
    
                            <div class="hamburger_container menu_mm">
                                <div class="hamburger menu_mm">
                                    <i class="fas fa-bars trans_200 menu_mm"></i>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Menu -->
    
            <div class="menu menu_mm">
                <ul class="menu_list">
                    <li class="menu_item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="index.html">{% trans 'home' %}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="about.html">{% trans 'about us' %}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="#">{% trans 'listings' %}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="news.html">{% trans 'news' %}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <a href="contact.html">{% trans 'contact' %}</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
    
        </header>
      

    
    {% endblock %}
            
    {% block content %}
    {% endblock %}
    	<!-- Newsletter -->

	<div class="newsletter">
		<div class="container">
			<div class="row row-equal-height">

				<div class="col-lg-6">
					<div class="newsletter_title">
						<h3>{% trans 'subscribe to our newsletter' %}</h3>
						<span class="newsletter_subtitle">{% trans 'Get the latest offers' %}</span>
					</div>
					<div class="newsletter_form_container">
						<form action="#">
							<div class="newsletter_form_content d-flex flex-row">
								<input id="newsletter_email" class="newsletter_email" type="email" placeholder="Your email here" required="required" data-error="Valid email is required.">
								<button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_200" value="Submit">{% trans 'subscribe' %}</button>
							</div>
						</form>
					</div>
				</div>

				<div class="col-lg-6">
					<a href="{% static #">
						<div class="weekly_offer">
							<div class="weekly_offer_content d-flex flex-row">
								<div class="weekly_offer_icon d-flex flex-column align-items-center justify-content-center">
									<img src="{% static 'img/prize.svg' %}" alt="">
								</div>
								<div class="weekly_offer_text text-center">{% trans 'weekly offer' %}</div>
							</div>
							<div class="weekly_offer_image" style="background-image:url({% static 'img/weekly.jpg' %})"></div>
						</div>
					</a>
				</div>

			</div>
		</div>
	</div>
    {% block footer %}
    <footer class="footer">

            <div class="container">
                <div class="row">
                    
                    <!-- Footer About -->
    
                    <div class="col-lg-3 footer_col">
                        <div class="footer_col_title">
                            <div class="logo_container">
                                <a href="#">
                                    <div class="logo">
                                        <img src="{% static 'img/logo.png' %}" alt="">
                                        <span>{% trans 'the estate' %}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="footer_social">
                            <ul class="footer_social_list">
                                <li class="footer_social_item"><a href="#"><i class="fab fa-pinterest"></i></a></li>
                                <li class="footer_social_item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="footer_social_item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="footer_social_item"><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                <li class="footer_social_item"><a href="#"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                        <div class="footer_about">
                            <p>{% trans 'Lorem ipsum dolor sit amet, cons ectetur  quis ferme adipiscing elit. Suspen dis se tellus eros, placerat quis ferme ntum et, viverra sit amet lacus. Nam gravida  quis ferme semper augue.' %}</p>
                        </div>
                    </div>
                    
                    <!-- Footer Useful Links -->
    
                    <div class="col-lg-3 footer_col">
                        <div class="footer_col_title">{% trans 'useful links' %}</div>
                        <ul class="footer_useful_links">
                            <li class="useful_links_item"><a href="#">{% trans 'Listings' %}</a></li>
                            <li class="useful_links_item"><a href="#">{% trans 'Favorite Cities' %}</a></li>
                            <li class="useful_links_item"><a href="#">{% trans 'Clients Testimonials' %}</a></li>
                            <li class="useful_links_item"><a href="#">{% trans 'Featured Listings' %}</a></li>
                            <li class="useful_links_item"><a href="#">{% trans 'Properties on Offer' %}</a></li>
                            <li class="useful_links_item"><a href="#">{% trans 'Services' %}</a></li>
                            <li class="useful_links_item"><a href="#">{% trans 'News' %}</a></li>
                            <li class="useful_links_item"><a href="#">{% trans 'Our Agents' %}</a></li>
                        </ul>
                    </div>
    
                    <!-- Footer Contact Form -->
                    <div class="col-lg-3 footer_col">
                        <div class="footer_col_title">{% trans 'say hello' %}</div>
                        <div class="footer_contact_form_container">
                            <form id="footer_contact_form" class="footer_contact_form" action="post">
                                <input id="contact_form_name" class="input_field contact_form_name" type="text" placeholder="Name" required="required" data-error="Name is required.">
                                <input id="contact_form_email" class="input_field contact_form_email" type="email" placeholder="E-mail" required="required" data-error="Valid email is required.">
                                <textarea id="contact_form_message" class="text_field contact_form_message" name="message" placeholder="Message" required="required" data-error="Please, write us a message."></textarea>
                                <button id="contact_send_btn" type="submit" class="contact_send_btn trans_200" value="Submit">{% trans 'send' %}</button>
                            </form>
                        </div>
                    </div>
    
                    <!-- Footer Contact Info -->
    
                    <div class="col-lg-3 footer_col">
                        <div class="footer_col_title">{% trans 'contact info' %}</div>
                        <ul class="contact_info_list">
                            <li class="contact_info_item d-flex flex-row">
                                <div><div class="contact_info_icon"><img src="{% static 'img/placeholder.svg' %}" alt=""></div></div>
                                <div class="contact_info_text">{% trans '4127 Raoul Wallenber 45b-c Gibraltar' %}</div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                <div><div class="contact_info_icon"><img src="{% static 'img/phone-call.svg' %}" alt=""></div></div>
                                <div class="contact_info_text">{% trans '2556-808-8613' %}</div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                <div><div class="contact_info_icon"><img src="{% static 'img/message.svg' %}" alt=""></div></div>
                                <div class="contact_info_text"><a href="mailto:contactme@gmail.com?Subject=Hello" target="_top">{% trans 'contactme@gmail.com' %}</a></div>
                            </li>
                            <li class="contact_info_item d-flex flex-row">
                                <div><div class="contact_info_icon"><img src="{% static 'img/planet-earth.svg' %}" alt=""></div></div>
                                <div class="contact_info_text"><a href="https://colorlib.com">{% trans 'www.colorlib.com' %}</a></div>
                            </li>
                        </ul>
                    </div>
    
                </div>
            </div>
            
        </footer>       
{% endblock %}
<div class="credits">
    <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->{% trans '
Copyright &copy;' %}<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="{% static 'https://colorlib.com" target="_blank">{% trans 'Colorlib' %}</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></span>
</div>
    {% block credits %}
    {% endblock %}
    
</div>
</body>

</html>